@font-face {
  font-family: 'iconfont';  /* project id 401517 */
  src: url('https://at.alicdn.com/t/font_401517_b5l18hxoztvb1emi.eot');
  src: url('https://at.alicdn.com/t/font_401517_b5l18hxoztvb1emi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_401517_b5l18hxoztvb1emi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_401517_b5l18hxoztvb1emi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_401517_b5l18hxoztvb1emi.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    /* font-size:16px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}

/* 头部 */
header{
	width: 100%;
	height: .45rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	border-bottom: 1px solid #eae7f2;
	z-index: 999;
}.header-l{
	width: .25rem;
	height: .45rem;
	float: left;
	/* background:orange; */
}
.header-l i{
	font-size: .20rem;
	line-height: .45rem;
	text-align: center;
	float: left;
}
.header-cen{
	width: 2.95rem;
	/* display: block; */
	height: .45rem;
	font-size: .18rem;
	line-height: .45rem;
	text-align: center;
	float: left;

}



/* 内容区 */
section{
	width: 100%;
	background: #f7f7f7;
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	margin-bottom: .5rem;
}
.search{
	width: 100%;
	height: .51rem;
	background: #fff;
	padding: 0 .15rem;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.search input{
	width: 2.76rem;
	height: .3rem;
	background: #f7f3f7;
	display: block;
	margin-top: .11rem;
	border: none;
	text-align:center;
	position: relative;
	float: left;
}
.search i{
	display: block;
	font-size: .18rem;
	line-height: .51rem;
	position: absolute;
	left:.9rem;
	top: 0;
	color: #989898;
}
.search span{
	float: right;
	font-size: .16rem;
	line-height: .51rem;
	color: #626362;
}
.search2{
	width: 100%;
	height: .43rem;
	background: #fff;
	padding: 0 .15rem;
}
.search2 a{
	font-size: .14rem;
	line-height: .43rem;
	float: left;
	margin-right:.27rem;
	color: #848484;
}
.search2 a:hover{
	color: orangered;
}
.search2 .mm{
	margin-right: 0;
	color: orangered;
}
.search3{
	width: 100%;
	height: .55rem;
	/* background: pink; */
	padding: 0 .15rem;
}
.search3-span1
{
	width: .75rem;
	height: .3rem;
	font-size: .14rem;
	line-height: .3rem;
	text-align: center;
	margin-top: .12rem;
	float: left;
	background: #Fff;
}
.search3-span1 i{
	font-size: .12rem;
}
.search3-span2{
	font-size: .14rem;
	float: right;
	line-height: .55rem;
	text-align: center;
	color: orangered;

}
/* 列表区 */
.list{
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.list ul{
	width: 100%;
	height: 1.01rem;
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
	/* background: gray; */
}

.list ul li{
	width: 100%;
	height: .82rem;
	/* background: yellowgreen; */
	margin-top: .09rem;
	padding: 0 .15rem;

}
.li-img{
	width: 1.1rem;
	height: .82rem;
	/* background: green; */
	float: left;
	line-height: .83rem;
}
.li-wenzi{
	width: 2.35rem;
	height: .83rem;
	
	float: right;
}
.li-wenzi span{
	color: black;
	font-size: .16rem;
	line-height: .16rem;
	float: left;
	display: block;
	margin-left:.11rem;
}
.li-wenzi .wenzi-s2{
	font-size: .14rem;
	color: #ceccce;
	margin-top:.09rem;
}
.li-wenzi .wenzi-s3{
	font-size: .16rem;
	color: orangered;
	margin-top:.1rem;
}


/* 底部区 */
footer{
	width: 100%;
	height: .44rem;
	position: fixed;
	bottom: 0;
	left: 0;
	/* background-color: #333; */
	border-top: .005rem solid #444;
	color: #333;
}
footer a{
	color: #333;
}
.dibufangkuai{
	width: 25%;
	height: 100%;
	background-color: #fafafa;
	float: left;
}
.tubiao{
	width: .19em;
	height: .19em;
	/* background-color: yellowgreen; */
	margin: .064rem .37375rem .04rem .37375rem;
}
.ic-xi{
	width: 100%;
	height: .12rem;
	background-color: #fafafa;
	font-size: .12rem;
	text-align: center;
}
.tubiao a{
	width: .1rem;
	height: .1rem;
	font-size: .18rem;
	margin: 0;
	display: block;
	color: #333;
}
.icon a{
	color: #f69;
}
/* .yanshe{
	color: #f69;
} */